.cards-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 17px;
  margin-top: 2.89rem;
}
.cards-gallery__item {
  position: relative;
}
.cards-gallery__image {
  width: 17.625rem;
  height: 17.625rem;
  margin: 0;
  cursor: pointer;
  max-width: none;
  max-height: none;
  border-top-right-radius: 0.625rem;
  border-top-left-radius: 0.625rem;
}

.cards-gallery__trash {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  background: none;
  border: none;
  padding: 0.5rem;
}
.cards-gallery__trash-image {
  width: 2rem;
}
.cards-gallery__group {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  margin: 0 auto;
  padding: 0.35rem;
  position: relative;
  top: -0.3rem;
  border-bottom-left-radius: 0.625rem;
  border-bottom-right-radius: 0.625rem;
}

.cards-gallery__group-title {
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  color: #000;
  width: 15.375rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.cards-gallery__like-button {
  border: none;
  transition: background-color 0.3s;
  cursor: pointer;
  background: url(../images/Group.png) center no-repeat;
  background-size: 100%;
  width: 24px;
  height: 24px;
}
.cards-gallery__like-button:hover {
  opacity: 0.6;
  transform: scale(1.3);
}
.cards-gallery__like-button-image {
  background: url(../images/heart.svg) center no-repeat;
  border: none;
}

/* full image */

.cards__modal {
  padding-top: 15rem;
  background-color: rgba(151, 126, 126, 0);
  transition: background-color 0.7s ease;
}

.cards__modal-open {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.884);
  box-sizing: border-box;
  transition: opacity 0.7s ease;
  opacity: 1;
}

.cards__modal-content {
  position: fixed;
  width: 800px;
  height: 600px;
  transition: opacity 0.8s ease;
  opacity: 1;
}

.cards__modal-close {
  color: #fff;
  position: relative;
  border: none;
  background: none;
  top: -2.5rem;
  right: -21rem;
  cursor: pointer;
}

.cards__modal-title {
  color: #fff;
  font-size: 1.2rem;
  margin-top: 1rem;
  text-align: left;
  position: relative;
  top: 37rem;
  left: -18rem;
}
