.popup {
  display: none;
  z-index: 10;
  background-color: rgba(18, 15, 15, 0.6);
  transition: background-color 0.7s ease, opacity 0.1s ease;
  opacity: 0.5;
}

.popup__open {
  width: 100%;
  height: 100vh;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(18, 15, 15, 0.6);
  box-sizing: border-box;
  opacity: 1;
}

.popup__container {
  width: 26.875rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.625rem;
  background-color: #fff;
  padding: 2rem;
  box-sizing: border-box;
}
.popup__input {
  display: block;
  width: 100%;
  margin-bottom: 43px;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  padding: 8px;
  border-bottom: 0.2px solid #000;
}
.popup__title {
  max-width: 22.375rem;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  color: #000;
  border: none;
}
.popup__save {
  width: 100%;
  background-color: #000;
  text-align: center;
  padding: 0.8rem;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}
.popup__save:hover {
  opacity: 0.8;
}
.popup__close {
  position: absolute;
  border: none;
  background: none;
  top: -2.2rem;
  right: -2rem;
  cursor: pointer;
}

@media screen and (max-width: 320px) {
  .popup__container {
    width: 88%;
    padding: 1.2rem;
  }
  .popup__close {
    right: -0.2rem;
  }
  .popup__close-image {
    width: 1.5rem;
    height: 1.5rem;
  }
  .popup__title {
    font-size: 1.125rem;
    margin-top: 0;
  }
}

@media screen and (max-width: 425px) {
  .popup__container {
    width: 88%;
    padding: 1.2rem;
  }
  .popup__close {
    right: -0.2rem;
  }
  .popup__close-image {
    width: 1.5rem;
    height: 1.5rem;
  }
  .popup__title {
    font-size: 1.125rem;
    margin-top: 0;
  }
}
