.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.profile__image {
  border-radius: 50%;
}

.profile__info {
  margin: 0;
  color: #fff;
}

.profile__info-title-button {
  display: flex;
  align-items: center;
}
.profile__name {
  font-size: 2.625rem;
  font-style: normal;
  font-weight: 500;
  line-height: 3rem;
  margin: 0 6px 0 0;
}

.profile__edit-button {
  background-color: transparent;
  border-style: none;
  height: 1.5rem;
  cursor: pointer;
}
.profile__edit-button:hover {
  opacity: 0.5;
}
.profile__role {
  margin: 0;
}
.profile__add {
  background-color: transparent;
  border: none;
  border-radius: 0.125rem;
  cursor: pointer;
}
.profile__add:hover {
  opacity: 0.5;
}

@media screen and (max-width: 320px) {
  .profile {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    text-align: center;
  }
  .profile__name {
    width: 12.25rem;
    font-size: 1.3rem;
  }
  .profile__add {
    margin-top: 2.25rem;
    width: 100%;
  }
  .profile__add-button-image {
    max-width: 100%;
  }
  .profile__edit-button {
    width: 1.125rem;
    height: 1.125rem;
  }
}

@media screen and (max-width: 425px) {
  .profile {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    text-align: center;
  }
  .profile__add {
    margin-top: 2.25rem;
  }
}
